@media screen and (min-width: 1700px) {
    .container {
        max-width: 1320px;
    }
}

@media screen and (min-width: 1921px) {
    .home-cta .join-the-ev .info .section-title p {
        max-height: 104px;
    }
}

@media screen and (min-width: 2160px) {
    body p {
        font-size: 20px;
    }
    .container {
        max-width: 1680px;
    }
    .button {
        border-width: 1.6px;
    }
    .loader .logo-wrapper {
        height: 10px;
    }
    .section-title .top-subtitle {
        font-size: 20px;
    }
    .section-title .title {
        font-size: 58px;
    }
    .section-title p {
        font-size: 22px;
    }
    .button {
        padding: 15px 30px;
    }
    .button span {
        font-size: 18px;
    }
    .banner-content h2 .char {
        font-size: 70px;
    }
    .banner-content h2 .whitespace {
        width: 30px;
    }
    .banner-content h3 .char {
        font-size: 26px;
    }
    .home-about .title {
        width: 58%;
    }
    .home-about .video-box.right {
        margin-top: 200px;
    }
    .home-about .absolute-para {
        margin-top: 100px;
    }
    .home-about .absolute-para .title {
        font-size: 46px;
    }
    .home-cta .join-the-ev .info .section-title p {
        max-height: 171px;
    }
    .about-us .team-img {
        min-height: 600px;
    }
    .management p {
        margin-bottom: 30px;
    }
    .brands .list li .bg {
        border-radius: 40px 0 0 40px;
    }
    .brands .list li.left .bg {
        border-radius: 0 40px 40px 0;
    }
    .we-believe .outline {
        font-size: 45px;
    }
    .we-believe .about-img.center .ico-box {
        width: 400px;
        height: 400px;
        top: -42px;
    }
    .we-believe .about-img .ico-box svg path {
        stroke-width: 10px;
    }
    .spotlight .swiper .img-box {
        height: 500px;
    }
    .group-slider .swiper-slide .info .title {
        font-size: 40px;
    }
    .group-slider .swiper-slide .date {
        font-size: 24px;
        font-weight: 400;
    }
    .footer h4 {
        font-size: 22px;
    }
    .footer .quick-links li a {
        font-size: 16px;
    }
    .footer p {
        font-size: 16px;
    }
    .footer h4~a:not(.link) {
        font-size: 16px;
    }
    /* MANAGEMENT */
    .management {
        padding: 0;
    }
    .management .black-box {
        padding: 120px 0;
    }
    .home-cta .join-the-ev .info .section-title .title {
        max-height: 128px;
    }
    .group-slider .swiper-slide .img-box {
        max-height: 700px;
    }
    .green-logistic .space,
    .gender-inclusion .space {
        padding-bottom: 100px;
    }
    .news-events #filter li {
        font-size: 26px;
    }
    #news-events li .media .media-body .title {
        font-size: 22px;
    }
    #news-events li .media .media-body p {
        font-size: 18px;
    }
    .blog-list .card .card-body .title {
        font-size: 22px;
    }
    .social li a {
        width: 30px;
        height: 30px;
    }
    .contact-info .list>li h6 {
        font-size: 22px;
    }
    .contact-info .list>li a {
        font-size: 22px;
    }
    .location-info h4 {
        font-size: 22px;
    }
    .location-info h6 {
        font-size: 22px;
    }
    .location-info p,
    .location-info address {
        font-size: 20px;
    }
    .location-info .view-map span {
        font-size: 20px;
    }
    .contact-form h4 {
        font-size: 22px;
    }
    .contact-form p {
        font-size: 20px;
    }
    .about-brand .list li .img-box {
        border-radius: 0 40px 40px 0;
    }
    .about-brand .list li.right .img-box {
        border-radius: 40px 0 0 40px;
    }
    .why-us .list li {
        border-radius: 30px;
    }
    .why-us .list li .title {
        font-size: 26px;
    }
    .why-us .list li .icon {
        width: 85px;
        height: 85px;
    }
    .journey .list li .img-box {
        border-radius: 20px;
    }
    .journey .list li .info h4 {
        font-size: 28px;
    }
    .journey .list li .info .count {
        font-size: 100px;
    }
    .journey .list li .info .count img {
        height: 76px;
    }
    .inner-banner .breadcrumb ul li,
    .inner-banner .breadcrumb ul li a {
        font-size: 14px;
    }
    .inner-banner .breadcrumb ul li a {
        padding-right: 16px;
    }
    .inner-banner .breadcrumb ul li a::after {
        width: 7px;
    }
    .goal-list li .img-box {
        width: 100px;
    }
    .goal-list li .title {
        font-size: 18px;
    }
}

@media screen and (max-width: 1700px) {
    .section-title .title {
        font-size: 38px;
    }
    .section-title p {
        font-size: 16px;
    }
    .navigation li a {
        font-size: 50px;
        padding: 6px 15px 14px;
    }
    .navigation li a .char {
        font-size: 34px;
    }
    .banner-content h2 .char {
        font-size: 45px;
    }
    .home-about .title {
        font-size: 60px;
    }
    .we-believe .outline {
        font-size: 38px;
    }
    .we-believe .about-img.center .ico-box {
        width: 260px;
        height: 260px;
    }
    .we-believe .section-title {
        margin-top: -80px;
    }
    .our-group {
        padding: 100px 0;
    }
    .inner-banner .banner-content .title {
        font-size: 62px;
    }
    .home-about .absolute-para .title {
        font-size: 34px;
    }
    .spotlight .swiper .info h4 {
        font-size: 16px;
    }
    .home-cta .join-the-ev .info .section-title .title {
        max-height: 88px;
    }
    .home-cta .join-the-ev .info .section-title p {
        max-height: 125px;
    }
    .blogs {
        padding: 100px 0;
    }
    .blog-list {
        grid-row-gap: 60px;
        margin-bottom: 40px;
    }
    .blog-list .card .card-img .date {
        margin-bottom: 0;
        bottom: 30px;
    }
    .goal-list {
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 25px;
    }
    .goal-list li {
        padding: 15px;
    }
}

@media screen and (max-width: 1500px) {
    .button span {
        font-size: 14px;
    }
    .hamburger div {
        font-size: 12px;
    }
    .navigation li a {
        font-size: 40px;
    }
    .navigation li a .char {
        font-size: 34px;
    }
    .banner-content h2 .char {
        font-size: 40px;
    }
    .banner-content h3 .char {
        font-size: 17px;
    }
    .home-about .title {
        font-size: 50px;
    }
    .home-about .absolute-para h3 {
        font-size: 20px;
    }
    .home-about .video-box.right {
        height: 90vh;
    }
    .we-believe .outline {
        font-size: 33px;
    }
    .we-believe .section-title {
        margin-top: -70px;
    }
    .spotlight .swiper .info h4 {
        font-size: 16px;
    }
    .about-us {
        padding: 80px 0 60px;
    }
    .about-us .arrow {
        width: 600px;
        bottom: 0;
    }
    .management .container {
        max-width: 1140px;
    }
    .management .img-box .icon {
        width: 250px;
    }
    .inner-banner .banner-content .title {
        font-size: 58px;
    }
    .inner-banner .banner-content p {
        font-size: 18px;
    }
    .journey .list li .info .count {
        font-size: 70px;
    }
    .journey .list li .info .count img {
        height: 48px;
    }
    .group-slider .swiper-slide .info .title {
        font-size: 26px;
    }
    .location-info .arrow-img {
        width: 180px;
    }
    .contact-form .arrow-img {
        width: 140px;
    }
    .blogs {
        padding: 80px 0;
    }
    .goal-list {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 1400px) {
    .section-title .title {
        font-size: 38px;
    }
    .home-about .absolute-para {
        margin-top: 30px;
    }
    .we-believe .outline {
        font-size: 30px;
    }
    .we-believe .about-img.center .ico-box {
        width: 220px;
        height: 220px;
        top: -22px;
    }
    .we-believe .about-img .ico-box svg path {
        stroke-width: 5px;
    }
    .we-believe .section-title {
        margin-top: -60px;
    }
    .brands .list li {
        --icon-width: 260px;
    }
    .about-brand .list li .img-box {
        aspect-ratio: 1;
    }
    .location-info .arrow-img {
        width: 160px;
    }
    .contact-form .arrow-img {
        width: 100px;
    }
    .contact-info .list>li:not(:last-child):before {
        left: calc(100% - 80px);
    }
    .blog-list {
        grid-row-gap: 50px;
    }
    .goal-list li .title {
        font-size: 12px;
    }
    .goal-list li .img-box {
        width: 60px;
        margin: 20px auto;
    }
}

@media screen and (max-width: 1300px) {
    .section-title .title {
        margin-bottom: 10px;
    }
    .section-title .subtitle {
        font-size: 18px;
    }
    .form-control {
        padding: 14px 20px;
    }
    .navigation li a {
        font-size: 40px;
    }
    .navigation {
        width: 60%;
    }
    .fullScreen .overlay {
        width: 60%;
    }
    .fullScreen .menu-close {
        right: calc(60% - 70px)
    }
    body p {
        font-size: 16px;
    }
    .we-believe .outline {
        font-size: 30px;
    }
    .scroll-info {
        bottom: 0;
    }
    .scroll-info h3 {
        font-size: 14px;
    }
    .cursor {
        width: 100px;
        height: 100px;
    }
    .management .container {
        max-width: 992px;
    }
    .management .img-box .icon {
        width: 220px;
    }
    .inner-banner .banner-content .title {
        font-size: 52px;
    }
    .inner-banner {
        height: 400px;
    }
    .footer h2.title {
        font-size: 40px;
    }
    .about-brand {
        padding: 80px 0;
    }
    .about-brand .list {
        grid-row-gap: 80px;
    }
    .inner-banner {
        border-radius: 0 0 60px 60px;
    }
    .cursor {
        display: none;
    }
    .about-brand .list li .img-box {
        aspect-ratio: 0.9;
    }
    .about-brand .list li .img-box img {
        width: 115%;
    }
    .why-us {
        padding: 80px 0;
    }
    .why-us .list {
        grid-gap: 30px;
    }
    .journey {
        padding: 80px 0 100px;
    }
    .location-info .arrow-img {
        display: none;
    }
    .contact-form .arrow-img {
        display: none;
    }
    .contact-info {
        padding: 80px 0;
    }
    .brands .list li {
        --icon-width: 220px;
        padding: 60px 0;
    }
    .home-cta .join-the-ev .info {
        width: calc(100% / 12 * 6);
    }
    .home-cta .join-the-ev .info .section-title p {
        max-height: 166px;
    }
    .corporate-video {
        padding: 60px 0 80px;
    }
    .app-software {
        padding: 80px 0;
    }
    .mobility {
        padding: 60px 0 0;
    }
    .mobility hr {
        margin-top: 60px;
    }
}

@media screen and (max-width: 1199px) {
    .about-brand .list li .img-box {
        width: 100%;
        aspect-ratio: 2.5;
        border-radius: 0;
    }
    .about-brand .list li.right .img-box {
        border-radius: 0;
    }
    .about-brand .list li .info {
        position: static;
        transform: translateY(0);
        margin-top: 40px;
    }
    .mobility .img-box.left,
    .mobility .img-box.fade-in-right,
    .mobility .img-box {
        width: 100%;
        margin-bottom: 30px;
        border-radius: 15px;
    }
    .mobility .info.fade-in-left {
        text-align: left;
    }
    .mobility .img-box {
        aspect-ratio: 2;
    }
    .opportunities {
        padding: 60px 0;
    }
    .fullScreen .overlay {
        width: 65%;
    }
    .navigation {
        width: 65%;
    }
    .fullScreen .menu-close {
        right: calc(65% - 70px)
    }
    .goals {
        padding: 60px 0;
    }
    .goal-list {
        grid-template-columns: repeat(3, 1fr);
    }
    .goal-list li .title {
        font-size: 13px;
    }
    .products-home {
        padding: 60px 0;
    }
    .products-home .button-center {
        margin-top: 20px;
    }
}

@media screen and (max-width: 1169px) {
    .hamburger span {
        width: 10px;
        height: 10px;
    }
    .fullScreen .overlay {
        width: 70%;
    }
    .navigation {
        width: 70%;
    }
    .fullScreen .menu-close {
        right: calc(70% - 70px);
    }
    .navigation li a .char {
        font-size: 30px;
    }
    .cursor {
        display: none;
    }
    .section-title .title {
        font-size: 36px;
    }
    .banner-content h2 .char {
        font-size: 35px;
    }
    .banner-content h3 {
        line-height: 0.9;
    }
    .banner-content h3 .char {
        font-size: 16px;
    }
    .home-about .absolute-para .title {
        font-size: 28px;
        line-height: 1.3;
        letter-spacing: 4px;
    }
    .home-about .absolute-para h3 {
        font-size: 16px;
    }
    .we-believe .section-title {
        margin-top: 0;
    }
    .we-believe .outline {
        font-size: 24px;
    }
    .we-believe .about-img.center .ico-box {
        width: 160px;
        height: 180px;
        top: -22px;
    }
    .group-slider .swiper-slide .info {
        padding: 30px;
    }
    .group-slider .swiper-slide .info .title {
        font-size: 22px;
    }
    .group-slider .swiper-slide .date {
        font-size: 16px;
    }
    .home-cta .join-the-ev .info {
        width: calc(100% / 12 * 7);
    }
    .inner-banner .banner-content .title {
        font-size: 46px;
    }
    .inner-banner .banner-content p {
        font-size: 16px;
    }
    .about-us {
        padding: 60px 0 20px;
    }
    .about-us .arrow {
        display: none;
    }
    .about-brand {
        padding: 60px 0;
    }
    .about-brand .list {
        grid-row-gap: 60px;
    }
    .about-brand .list li .img-box img {
        width: 100%;
        margin-top: -150px;
    }
    .why-us {
        padding: 60px 0;
    }
    .why-us .list li .icon {
        width: 50px;
        height: 50px;
    }
    .why-us .list li .title {
        font-size: 18px;
    }
    .journey {
        padding: 60px 0;
    }
    .journey .list {
        grid-row-gap: 40px;
    }
    .journey .list li .info .count {
        font-size: 60px;
        margin-bottom: 15px;
    }
    .journey .list li .info .count img {
        width: 22px;
    }
    .journey .list li .info h4 {
        font-size: 18px;
        margin-bottom: 15px;
    }
    .management .black-box {
        padding: 60px 40px;
    }
    .footer h4 {
        font-size: 16px;
    }
    .news-events {
        padding: 80px 0 100px;
    }
    .news-events #filter {
        display: flex;
        flex-flow: row wrap;
        margin-bottom: 30px;
    }
    .news-events #filter li {
        width: auto;
        margin-right: 30px;
        padding-left: 20px;
    }
    #news-events li {
        margin-bottom: 40px;
        padding-bottom: 40px;
    }
    .blog-details {
        padding: 80px 0;
    }
    .blog-details .article-date-wrap {
        padding-bottom: 30px;
        flex-flow: row wrap;
        align-items: center;
    }
    .blog-details .article-date-wrap .list {
        display: flex;
        flex-flow: row wrap;
        width: auto;
        align-items: center;
    }
    .blog-details .article-date-wrap .list li {
        width: auto;
        margin-left: 20px;
    }
    .blog-details .article-date-wrap .list li strong {
        width: auto;
        margin-right: 10px;
    }
    .blog-details .section-title {
        margin-bottom: 40px;
    }
    .blog-details .info h4 {
        margin-bottom: 15px;
    }
    .blog-details hr {
        margin: 60px 0 40px;
    }
    .pagination a {
        width: calc(100% / 13 * 6);
    }
    .pagination a.left {
        border-radius: 0 20px 20px 0;
        padding: 20px 20px 20px 0;
    }
    .pagination a.right {
        border-radius: 20px 0 0 20px;
        padding: 20px 0 20px 20px;
    }
    .pagination a .title {
        font-size: 16px;
    }
    .pagination a .line {
        margin: 0 30px;
    }
    .pagination a .icon {
        width: 30px;
    }
    .contact-info .list>li:not(:last-child):before {
        left: calc(100% - 50px);
    }
    .contact-info .list>li a {
        font-size: 16px;
    }
    .contact-info .list>li h6 {
        margin-bottom: 30px;
    }
    .news-details {
        padding: 80px 0;
    }
    .brands {
        padding: 80px 0;
    }
    .brands .list {
        grid-gap: 60px;
    }
    .brands .list li {
        padding: 60px 0;
    }
    .mobility {
        padding: 50px 0 0;
    }
    .mobility .img-box.left {
        width: 100%;
        aspect-ratio: 2;
        margin-bottom: 30px;
    }
    .mobility hr {
        margin-top: 50px;
    }
    .mobility .space {
        padding-bottom: 50px;
    }
    .green-logistic {
        padding: 60px 0 0;
    }
    .green-logistic hr {
        margin-top: 50px;
    }
    .green-logistic .info.fade-in-left {
        text-align: left;
    }
    .green-logistic .img-box.fade-in-right,
    .green-logistic .img-box {
        width: 100%;
        aspect-ratio: 2;
        margin-bottom: 30px;
    }
    .green-logistic .space {
        padding-bottom: 40px;
    }
    .gender-inclusion {
        padding: 60px 0;
    }
    .gender-inclusion .img-box.fade-in-right,
    .gender-inclusion .img-box {
        width: 100%;
        margin-bottom: 30px;
    }
    .gender-inclusion .info.fade-in-left {
        text-align: left;
    }
    .gender-inclusion .space {
        padding-bottom: 40px;
    }
    .opportunities {
        border-radius: 30px;
    }
    .opportunities .img-box {
        height: 300px;
    }
    .blog-list {
        grid-row-gap: 40px;
        grid-column-gap: 30px;
        margin-bottom: 30px;
    }
    .page-not-found .img-box {
        max-width: 550px;
    }
    .page-not-found .title {
        font-size: 42px;
    }
    .app-software {
        padding: 60px 0;
    }
    .app-software .section-title {
        margin-bottom: 40px;
    }
    .app-software .app-slider-prev {
        left: -25px;
    }
    .app-software .app-slider-next {
        right: -25px;
    }
    .app-software .software-slider-prev {
        left: -25px;
    }
    .app-software .software-slider-next {
        right: -25px;
    }
}

@media screen and (max-width: 1023px) {
    .container,
    .container-fluid {
        max-width: 90%;
    }
    .section-title {
        margin-bottom: 40px;
    }
    .section-title .title {
        font-size: 28px;
    }
    .banner-content h2 .char {
        font-size: 30px;
    }
    .we-believe .outline {
        font-size: 20px;
    }
    .our-group {
        padding: 80px 0;
        min-height: 70vh;
    }
    .spotlight {
        padding: 80px 0;
    }
    .inner-banner {
        border-radius: 0 0 40px 40px;
    }
    .inner-banner .banner-content .title {
        font-size: 38px;
    }
    .management p {
        font-size: 14px;
    }
    .swapping-station {
        padding: 60px 0;
    }
    .swapping-station .section-title {
        margin-bottom: 30px;
    }
    .join-the-ev {
        margin-bottom: 60px;
    }
    .video-sec .video-box {
        border-radius: 20px;
    }
    .corporate-video .video-box .intro-text {
        width: 80px;
        height: 80px;
        font-size: 12px;
        padding-top: 5px;
    }
    .location-info iframe {
        aspect-ratio: 2;
    }
    .brands .list li {
        --icon-width: 200px;
    }
    .brands .list li .bg {
        background-size: calc(125% + 2px);
    }
    .brands .list li .section-title .title br {
        display: none;
    }
    .journey .section-title h6 {
        font-size: 18px;
    }
    .about-us .team-img {
        margin-top: 40px;
    }
    .mobility {
        padding: 50px 0 0;
    }
    .gender-inclusion {
        padding: 50px 0;
    }
    .opportunities {
        padding: 50px 0;
    }
    .join-the-ev {
        margin-bottom: 40px;
    }
    .join-the-ev .info {
        padding: 80px 50px;
    }
    .journey .list li .info p {
        margin-bottom: 0;
    }
    .journey .list li .img-box,
    .journey .list li.right .img-box {
        margin-bottom: 20px;
    }
    .video-sec .video-box {
        border-radius: 15px;
    }
    .page-not-found .img-box {
        max-width: 550px;
    }
    .page-not-found .title {
        font-size: 38px;
    }
    .green-logistic .img-box,
    .gender-inclusion .img-box,
    .mobility .img-box.left,
    .opportunities .img-box,
    .gender-inclusion .img-box.fade-in-right,
    .gender-inclusion .img-box,
    .green-logistic .img-box.fade-in-right,
    .green-logistic .img-box {
        margin-bottom: 20px;
    }
    .goal-list {
        grid-gap: 20px;
    }
}

@media screen and (max-width: 991px) {
    .button>img {
        width: 6px;
    }
    .mask {
        -webkit-mask-size: auto calc(30% * var(--banner-scroll-count));
    }
    .mask img {
        display: flex;
    }
    .banner>img {
        display: flex;
    }
    .mask video {
        display: none;
    }
    .fullScreen .overlay {
        width: 100%;
    }
    .navigation {
        width: 100%;
    }
    .fullScreen .menu-close {
        right: calc(100% - 70px);
    }
    .banner-space {
        height: 200vh;
        background: #000;
    }
    .banner-content .icon {
        transform: rotateZ(0deg);
    }
    .banner-content .char {
        opacity: 1;
    }
    .banner-content h2 .char {
        font-size: 30px;
    }
    .banner-content h3 {
        line-height: 0.8;
    }
    .banner-content h3 .char {
        font-size: 14px;
    }
    .home-about {
        display: none;
    }
    .about-space {
        height: auto;
        z-index: 3;
        position: relative;
    }
    .home-about {
        height: auto;
        padding: 60px 0;
    }
    .home-about .absolute-para .title {
        margin-bottom: 20px;
        letter-spacing: 3px;
    }
    .home-about .video-box.right {
        height: 50vh;
        margin-bottom: 30px;
        margin-top: 0;
    }
    .home-about .absolute-para {
        opacity: 1;
    }
    .about-space .home-about {
        display: flex;
        width: 100%;
        position: relative;
    }
    .we-believe {
        padding: 60px 0 0;
    }
    .we-believe .section-title {
        margin-top: 0;
    }
    .we-believe .about-img.right {
        margin-bottom: 0;
    }
    .we-believe .about-img.left {
        margin-bottom: 40px;
    }
    .we-believe .outline {
        font-size: 18px;
    }
    .about-brand .list {
        grid-row-gap: 50px;
    }
    .about-brand .list li .info {
        margin-top: 20px;
    }
    .why-us .list li {
        padding: 30px;
    }
    .why-us .list li .icon {
        width: 40px;
        height: 40px;
    }
    .why-us .list li .title {
        font-size: 16px;
    }
    .group-slider .swiper-slide .info {
        padding: 20px;
    }
    .group-slider .swiper-slide .info .title {
        font-size: 18px;
    }
    .our-group .section-title {
        margin-bottom: 20px;
    }
    .group-slider {
        margin-top: 40px;
    }
    .spotlight .section-title {
        margin-bottom: 20px;
    }
    .spotlight .button {
        margin-bottom: 0;
    }
    .spotlight .swiper {
        margin-top: 40px;
    }
    .journey .section-title {
        margin-bottom: 40px;
    }
    .journey .list li .info .count {
        font-size: 50px;
    }
    .journey .list li .info .count img {
        height: 38px;
    }
    .journey .list li.right {
        flex-flow: column-reverse wrap;
    }
    .journey .list li .img-box,
    .journey .list li.right .img-box {
        width: 100%;
        aspect-ratio: 2;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 30px;
    }
    .journey .list li .info {
        width: 100%;
    }
    .home-cta .join-the-ev {
        width: 50%;
    }
    .home-cta .join-the-ev .info {
        width: 100%;
    }
    .home-cta .join-the-ev .info .section-title .title {
        height: auto;
        max-width: unset;
        letter-spacing: 2px;
    }
    .home-cta .join-the-ev .info .section-title p {
        height: auto;
        max-height: unset;
        margin-bottom: 20px;
    }
    .footer h2.title {
        font-size: 38px;
        -webkit-text-stroke-width: 2px
    }
    .footer .desc {
        font-size: 24px;
    }
    .footer h4 {
        font-size: 16px;
    }
    .footer .quick-links {
        margin-bottom: 30px;
    }
    .social {
        margin-top: 20px;
        margin-bottom: 60px;
    }
    .copy p {
        font-size: 12px;
    }
    .about-us {
        padding: 60px 0 30px;
    }
    .about-us .team-img {
        height: 300px;
        margin-top: 0;
        margin-bottom: 25px;
    }
    .management .section-title {
        margin-bottom: 20px;
    }
    .management .info {
        margin-top: 30px;
    }
    .management .black-box {
        padding: 40px;
        border-radius: 30px;
    }
    .management hr {
        margin: 40px 0;
    }
    .join-the-ev .info {
        padding: 40px;
        width: 100%;
    }
    .join-the-ev .info .section-title .title {
        letter-spacing: 2px;
    }
    .join-the-ev .img-box {
        width: 100%;
        aspect-ratio: 2;
        height: 350px;
    }
    .join-the-ev .img-box::before {
        right: 50%;
        top: auto;
        bottom: 0;
        transform: translateY(0) translateX(50%);
        width: calc(100% - 80px);
        height: calc(100% - 40px);
        border: 1px solid #9E735B;
        border-right-width: 1px;
        border-radius: 9px 9px 0 0;
        border-bottom: none;
    }
    .news-events {
        padding: 60px 0;
    }
    .blog-details {
        padding: 60px 0;
    }
    .pagination a .title {
        font-size: 14px;
    }
    .pagination a .line {
        margin: 0 20px;
    }
    .pagination a .icon {
        width: 25px;
    }
    .contact-info .list>li {
        flex: 0 0 50%;
        margin-bottom: 50px;
    }
    .contact-info .list>li:last-child {
        margin-bottom: 0;
    }
    .contact-info .list>li:not(:last-child):before {
        display: none;
    }
    .social li {
        margin: 0 8px;
    }
    .location-info h6 {
        margin-top: 20px;
    }
    .location-info iframe {
        margin-top: 50px;
    }
    .contact-form {
        padding: 80px 0;
    }
    .contact-form p {
        margin-bottom: 30px;
    }
    .contact-info .list>li a {
        margin-bottom: 0;
    }
    .news-details .news-banner {
        border-radius: 20px;
    }
    .news-details .info {
        margin-bottom: 40px;
    }
    .news-details .next-news {
        margin-top: 80px;
    }
    .news-details .next-news #news-events li {
        padding: 40px 0;
    }
    .event-details li {
        flex: 0 0 50%;
    }
    .event-details li:nth-child(2) {
        border-right: none;
    }
    .brands .list li {
        --icon-width: 160px;
    }
    .brands .list li .bg {
        background-size: calc(175% + 2px);
    }
    .corporate-video {
        padding: 60px 0;
    }
    .corporate-video .section-title {
        margin-bottom: 30px;
    }
    .blogs {
        padding: 60px 0;
    }
    .blog-list .card .card-img {
        border-radius: 15px;
        margin-bottom: 15px;
    }
    .blog-list .card .card-img .date {
        font-size: 12px;
        bottom: 20px;
        right: 10px;
    }
    .blog-list .card .card-body .title {
        font-size: 14px;
        font-weight: 700;
        line-height: 1.2;
    }
    .blog-details .article-date-wrap {
        padding-bottom: 10px;
    }
    .blog-details .article-date-wrap .list li {
        margin-bottom: 0;
    }
    .blog-details .article-date-wrap .list li strong {
        font-size: 10px;
        margin-right: 5px;
    }
    .blog-details .article-date-wrap .list li span {
        font-size: 10px;
        font-weight: 400;
    }
    .blog-details .article-date-wrap .list li:last-child {
        display: none;
    }
    .blog-details .button {
        margin-bottom: 0;
    }
    .inner-banner .breadcrumb ul li {
        margin-right: 6px;
    }
    .inner-banner .breadcrumb ul li a {
        padding-right: 8px;
    }
    .brands .list li .section-title .title {
        margin-bottom: 15px;
    }
    .blog-details .article-date-wrap .list {
        width: 100%;
        margin-top: 35px;
    }
    .blog-details .article-date-wrap .list li {
        margin-left: 0;
    }
    .blog-details .section-title .title {
        font-size: 18px;
    }
    .music-control,
    .volume-control {
        display: none;
    }
    .app-software h6 {
        font-size: 12px;
    }
    .app-software .app-slider-prev::after {
        font-size: 40px;
    }
    .app-software .app-slider-next::after {
        font-size: 40px;
    }
    .app-software .software-slider-prev::after {
        font-size: 40px;
    }
    .app-software .software-slider-next::after {
        font-size: 40px;
    }
    .contact-form nav .nav-tabs .nav-link {
        padding: 20px 70px
    }
    .goal-list {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
        padding: 0;
    }
    .goals .section-title {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 767px) {
    .button {
        padding: 10px 20px;
    }
    .container,
    .container-fluid {
        max-width: calc(100% - 40px);
    }
    .section-title .top-subtitle {
        font-size: 14px;
    }
    label {
        margin-bottom: 10px;
    }
    .navigation {
        padding: 40px;
    }
    .navigation li a .char {
        font-size: 26px;
    }
    .inner-banner {
        height: 360px;
        border-radius: 0 0 30px 30px;
    }
    .inner-banner .banner-content .title {
        font-size: 32px;
    }
    .inner-banner .banner-content p {
        font-size: 14px;
    }
    .banner-content h2 .whitespace {
        width: 15px;
    }
    .banner-content h2 .char {
        font-size: 40px;
    }
    .banner-content h3 .char {
        font-size: 15px;
    }
    .home-about .video-box.right {
        height: 40vh;
    }
    .we-believe .about-img {
        border-radius: 15px;
    }
    .we-believe .about-img.center {
        margin-top: 20px;
    }
    .we-believe .about-img.center .ico-box {
        width: 120px;
        height: 160px;
    }
    .we-believe .about-img.left {
        margin-bottom: 0;
    }
    .we-believe .section-title {
        margin-top: 0;
    }
    .we-believe .about-img .ico-box svg path {
        stroke-width: 3px;
    }
    .we-believe .about-img.left {
        display: none;
    }
    .we-believe .about-img.right {
        display: none;
    }
    .we-believe .about-img.center {
        display: none;
    }
    .we-believe .outline {
        margin-bottom: 15px;
    }
    .we-believe .img-box-mob {
        display: block;
        width: 100%;
        height: 400px;
        border-radius: 15px;
        overflow: hidden;
        margin-bottom: 40px;
        position: relative;
    }
    .we-believe .img-box-mob img {
        height: 100%;
        object-fit: cover;
    }
    .we-believe .img-box-mob .ico-box {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        height: 50%;
        width: 50%;
    }
    .we-believe .img-box-mob .ico-box svg {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    .we-believe .img-box-mob .ico-box svg path {
        stroke: #fff;
        stroke-width: 4px;
        stroke-dashoffset: 0;
        stroke-dasharray: 0;
    }
    .why-us {
        border-radius: 30px 30px 0 0;
    }
    .why-us .list {
        grid-template-columns: repeat(1, 1fr);
    }
    .why-us .list li {
        border-width: 5px;
    }
    .card-slider {
        display: block;
    }
    .corporate-video .section-title {
        margin-bottom: 0;
    }
    .corporate-video .video-box {
        margin-top: 20px;
        border-radius: 15px;
    }
    #news-events li .media {
        flex-direction: column;
    }
    #news-events li .media .media-img {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
        aspect-ratio: 2/1;
    }
    #news-events li .media .media-body .tag {
        margin-bottom: 10px;
    }
    .join-the-ev .img-box {
        height: 300px;
    }
    .contact-info {
        padding: 60px 0;
    }
    .contact-info .list>li {
        margin-bottom: 40px;
    }
    .location-info {
        padding: 60px 0;
        border-radius: 40px 40px 0 0;
    }
    .contact-form {
        padding: 60px 0;
    }
    .contact-info .list>li h6 {
        margin-bottom: 20px;
    }
    .location-info h4 {
        margin-bottom: 10px;
    }
    .location-info h6 {
        margin-bottom: 10px;
        margin-top: 30px;
        letter-spacing: 0;
    }
    .location-info p,
    .location-info address {
        margin-bottom: 12px;
    }
    .location-info .view-map span {
        font-size: 14px;
    }
    .news-details {
        padding: 60px 0;
    }
    .news-details .news-banner {
        margin-bottom: 30px;
        aspect-ratio: 2;
    }
    .brands {
        padding: 60px 0;
    }
    .brands .list li .icon {
        display: none;
    }
    .brands .list li .bg {
        width: calc(100% - 20px);
    }
    .management .black-box {
        border-radius: 15px;
    }
    .about-us .team-img {
        width: 50%;
    }
    .green-logistic {
        padding: 50px 0 0;
    }
    .page-not-found .title {
        font-size: 34px;
    }
    .banner-content .icon {
        margin-bottom: 40px;
    }
    .our-group {
        padding: 60px 0;
        min-height: 50vh;
    }
    .our-group .group-slider-swiper-pagination {
        margin-top: 40px;
    }
    .group-slider .swiper-slide .info .title {
        font-size: 16px;
    }
    .group-slider .swiper-slide .date {
        font-size: 14px;
    }
    .spotlight {
        padding: 60px 0;
    }
    .spotlight .button {
        margin-bottom: 0;
    }
    .spotlight .swiper .img-box {
        height: 300px;
    }
    .spotlight .swiper .info p {
        font-size: 14px;
    }
    .spotlight .swiper .info h4 {
        font-size: 14px;
    }
    .app-software .app-slider-prev {
        left: 0;
    }
    .app-software .app-slider-next {
        right: 0;
    }
    .app-software .software-slider-prev {
        left: 0;
    }
    .app-software .software-slider-next {
        right: 0;
    }
    .mobility .space {
        padding-bottom: 40px;
    }
    .contact-form nav .nav-tabs .nav-link {
        padding: 20px 50px;
    }
    .goal-list {
        grid-template-columns: repeat(2, 1fr);
    }
    .goal-list li .title {
        font-size: 12px;
    }
}

@media screen and (max-width: 639px) {
    .header.show {
        padding: 10px 0;
    }
    .navigation li a .char {
        font-size: 26px;
    }
    .navigation li a .whitespace {
        width: 15px;
    }
    .section-title .title {
        font-size: 26px;
    }
    .section-title .subtitle {
        font-size: 14px;
    }
    .button span {
        font-size: 12px;
    }
    .form-group {
        margin-bottom: 15px;
    }
    .form-control {
        padding: 12px 20px;
        border-radius: 15px;
    }
    .journey .section-title,
    .journey .section-title h6 {
        text-align: left;
    }
    .journey .section-title h6 {
        font-size: 16px;
    }
    .home-about .video-box.right {
        height: auto;
        aspect-ratio: 16/9;
    }
    .home-about .absolute-para {
        margin-top: 0;
    }
    .home-about .absolute-para .title {
        font-size: 24px;
        line-height: 1.1;
        letter-spacing: 2px;
    }
    .home-about .absolute-para h3 {
        font-size: 14px;
    }
    .we-believe .about-img.center .ico-box {
        width: 100px;
        height: 140px;
    }
    .inner-banner {
        height: 380px;
        border-radius: 0 0 20px 20px;
    }
    .inner-banner .bg img,
    .inner-banner .bg picture {
        height: 100%;
        object-fit: cover;
        margin-top: 0;
    }
    .inner-banner .banner-content .title {
        font-size: 34px;
    }
    .footer h2.title {
        font-size: 34px;
    }
    .footer .desc {
        font-size: 20px;
    }
    .approach .icon {
        width: 180px;
        height: 180px;
        margin: 20px auto 0;
    }
    .footer h4 {
        font-size: 14px;
    }
    .social li a {
        width: 20px;
        height: 20px;
    }
    .footer p {
        font-size: 14px;
    }
    .footer .quick-links li a {
        width: 100%;
    }
    .copy p {
        font-size: 12px;
        text-align: center;
    }
    .join-the-ev .img-box::before {
        width: calc(100% - 60px);
        height: calc(100% - 30px);
    }
    .blog-details .section-title {
        margin-bottom: 15px;
    }
    .blog-details .info h6 {
        font-size: 18px;
    }
    .blog-details .info h4 {
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 10px;
        letter-spacing: 0;
    }
    .blog-details .info p {
        font-size: 14px;
    }
    .pagination a {
        width: 100%;
        margin-bottom: 20px;
    }
    .about-us .about-img {
        margin-bottom: 30px;
    }
    .about-us .team-img {
        height: 240px;
        margin-top: 0;
        margin-bottom: 20px
    }
    .corporate-video {
        padding: 30px 0 50px;
    }
    .management .black-box {
        padding: 40px 30px;
    }
    .management .section-title .title {
        font-size: 26px;
    }
    .management .desktop-bio {
        display: none;
    }
    .management .mobile-bio {
        display: block;
    }
    .management .button {
        display: inline-flex;
    }
    .mobility {
        padding: 40px 0 0;
    }
    .mobility hr {
        margin-top: 40px;
    }
    .green-logistic {
        padding-top: 40px;
    }
    .green-logistic hr {
        margin-top: 40px;
    }
    .green-logistic .space {
        padding-bottom: 40px;
    }
    .green-logistic .section-title p,
    .gender-inclusion .section-title p,
    .mobility .section-title p {
        margin-bottom: 20px;
    }
    .gender-inclusion {
        padding: 40px 0;
    }
    .opportunities .img-box {
        height: 250px;
    }
    .blogs {
        padding: 50px 0;
    }
    .blog-list {
        grid-template-columns: repeat(1, 1fr);
    }
    .contact-info {
        padding: 50px 0;
    }
    .app-software .software-slider-prev {
        margin-top: -60px;
    }
    .app-software .software-slider-next {
        margin-top: -60px;
    }
    .footer p,
    .footer .quick-links li a,
    .footer h4~a:not(.link) {
        color: rgba(255, 255, 255, 0.8);
    }
    .barContainer {
        display: none;
    }
    .contact-form nav .nav-tabs .nav-link {
        font-size: 16px;
        padding: 15px 40px;
    }
    .goal-list li {
        border-width: 2px;
        padding: 10px;
    }
    .products-home h6 {
        font-size: 16px;
    }
}

@media screen and (max-width: 575px) {
    .button {
        padding: 8px 20px;
    }
    body p,
    .section-title p,
    .journey .section-title h6 {
        font-size: 14px;
    }
    .navigation {
        padding: 20px;
    }
    .navigation li a {
        font-size: 30px;
        padding: 10px 15px 15px;
    }
    .navigation li a .char {
        font-size: 23px;
    }
    .navigation li a .whitespace {
        width: 10px;
    }
    .banner-content h2 .char {
        font-size: 35px;
    }
    .inner-banner .banner-content .title br {
        display: none;
    }
    .inner-banner .banner-content p {
        font-size: 12px;
        font-weight: 400;
    }
    .inner-banner .breadcrumb ul li,
    .inner-banner .breadcrumb ul li a {
        font-size: 8px;
    }
    .we-believe .about-img.left {
        margin-bottom: 40px;
    }
    .about-brand .list li .img-box {
        aspect-ratio: 2;
    }
    .about-brand .list li .img-box img {
        margin-top: -100px;
    }
    .journey .list li .info .count {
        font-size: 40px;
    }
    .journey .list li .info .count img {
        width: 20px;
        height: 32px;
    }
    .footer h2.title {
        font-size: 30px;
    }
    .footer .desc {
        font-size: 18px;
    }
    .approach .icon {
        width: 160px;
        height: 160px;
    }
    .footer h4 {
        margin-bottom: 10px;
    }
    .footer .quick-links {
        margin-bottom: 30px;
    }
    .footer p {
        margin-bottom: 30px;
    }
    .social {
        margin-bottom: 30px;
        justify-content: flex-start;
    }
    .copy p {
        margin-bottom: 5px;
    }
    .management .black-box {
        padding: 40px 20px;
    }
    .management .img-box .icon {
        left: 10px;
    }
    .management .img-box.left .icon {
        right: 10px;
    }
    .swapping-station {
        padding: 50px 0;
    }
    .news-events {
        padding: 50px 0;
    }
    .news-events #filter {
        margin-bottom: 30px;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        justify-content: space-between;
    }
    .news-events #filter li {
        margin-right: 0;
        padding: 14px 15px 10px;
        font-size: 16px;
        margin-bottom: 0;
        border: none;
    }
    .news-events #filter li::before {
        width: 8px;
    }
    .news-events #filter li::after {
        display: none;
    }
    .news-events #filter li:first-child {
        border: none;
    }
    .news-events #filter li:last-child {
        margin-right: 0;
    }
    #news-events li {
        margin-bottom: 30px;
        padding-bottom: 30px;
    }
    #news-events li .media .media-img {
        border-radius: 15px;
    }
    #news-events li .media .media-body .title {
        font-size: 16px;
        line-height: 1.2;
        margin-bottom: 5px;
    }
    #news-events li .media .media-body .tag .button {
        padding: 5px 15px;
    }
    #news-events li .media .media-body .tag .date {
        font-size: 12px;
    }
    #news-events li .media .media-body p {
        margin-bottom: 25px;
    }
    #news-events li .media .media-body .learn-more span {
        font-size: 14px;
    }
    .blog-details {
        padding: 50px 0;
    }
    .blog-details .info {
        margin-bottom: 40px;
    }
    .blog-details .info h6 {
        font-size: 16px;
        line-height: 1.3;
        margin-bottom: 30px;
    }
    .blog-details .img-box {
        margin-bottom: 15px;
        border-radius: 15px;
    }
    .contact-info .list>li {
        flex: 0 0 100%;
    }
    .location-info iframe {
        aspect-ratio: 1.5;
    }
    .news-details {
        padding: 50px 0;
    }
    .news-details .next-news {
        margin-top: 50px;
    }
    .news-details .next-news #news-events li {
        padding: 30px 0;
    }
    .event-details li {
        flex: 0 0 100%;
        border-right: none;
    }
    .brands .list {
        grid-gap: 40px;
    }
    .brands .list li .bg {
        background-size: calc(185% + 2px);
        width: calc(100% - 15px);
    }
    .about-us .team-img {
        height: 200px;
    }
    .about-us .about-img .mk-img {
        width: 80%;
    }
    .green-logistic .img-box,
    .gender-inclusion .img-box,
    .mobility .img-box.left,
    .opportunities .img-box {
        border-radius: 15px;
    }
    .opportunities .section-title {
        margin-bottom: 10px;
    }
    .opportunities .img-box {
        height: 200px;
    }
    .page-not-found .title {
        font-size: 22px;
    }
    .app-software .app-slider-prev::after {
        font-size: 24px;
    }
    .app-software .app-slider-next::after {
        font-size: 24px;
    }
    .app-software .software-slider-prev::after {
        font-size: 24px;
    }
    .app-software .software-slider-next::after {
        font-size: 24px;
    }
    .contact-form nav .nav-tabs .nav-link {
        padding: 15px 30px;
    }
    .goal-list {
        grid-gap: 15px;
    }
}

@media screen and (max-width: 479px) {
    .container,
    .container-fluid {
        max-width: calc(100% - 30px);
    }
    .scroll-info h3 {
        font-size: 12px;
    }
    label {
        font-size: 14px;
    }
    .form-control {
        padding: 8px 15px;
        border-radius: 8px;
    }
    .section-title p {
        margin-bottom: 20px;
    }
    .hamburger div {
        font-size: 12px;
    }
    .hamburger span {
        margin: 0 2px;
    }
    .fullScreen .overlay {
        width: 100%;
    }
    .fullScreen .menu-close {
        right: calc(100% - 70px);
    }
    .navigation {
        width: 100%;
    }
    .banner-content h2 .char {
        font-size: 25px;
    }
    .about-brand {
        padding: 50px 0;
    }
    .about-brand .section-title {
        margin-bottom: 0;
    }
    .about-brand .list {
        grid-gap: 60px;
    }
    .home-about .absolute-para .title {
        margin-bottom: 10px;
    }
    .we-believe .outline {
        font-size: 15px;
    }
    .we-believe .about-img.center .ico-box {
        width: 80px;
        height: 120px;
    }
    .spotlight .swiper .img-box {
        height: 220px;
    }
    .spotlight .swiper .info {
        min-height: 80%;
        padding: 20px;
    }
    .why-us {
        padding: 50px 0;
    }
    .why-us .list {
        grid-gap: 20px;
    }
    .why-us .list li {
        padding: 20px;
    }
    .journey {
        padding: 50px 0;
    }
    .journey .section-title {
        margin-bottom: 30px;
    }
    .journey .list li .img-box,
    .journey .list li.right .img-box {
        margin-bottom: 20px;
    }
    .journey .list {
        grid-gap: 40px;
    }
    .journey .list li .info h4 {
        font-size: 16px;
    }
    .group-slider .swiper-slide .img-box {
        aspect-ratio: 1.5;
        height: 220px;
        border-radius: 15px;
    }
    .group-slider .swiper-slide .info {
        padding: 20px 40px 20px 20px;
    }
    .group-slider .swiper-slide .info .title {
        font-size: 14px;
        margin-bottom: 0;
    }
    .group-slider .swiper-slide .date {
        right: 10px;
        font-size: 12px;
    }
    .our-group .group-slider-swiper-pagination {
        margin-top: 30px;
    }
    .spotlight .swiper .info p {
        font-size: 12px;
    }
    .footer h2.title {
        font-size: 22px;
        -webkit-text-stroke-width: 1px
    }
    .footer .desc {
        font-size: 16px;
    }
    .footer p br {
        display: none;
    }
    .approach .icon {
        width: 140px;
        height: 140px;
    }
    .about-us {
        padding: 50px 0 20px;
    }
    .management .black-box {
        padding: 40px 10px;
    }
    .management .img-box .icon {
        width: 180px;
    }
    .swapping-station .section-title {
        margin-bottom: 20px;
    }
    .join-the-ev .info {
        padding: 50px 20px;
    }
    .contact-info .list>li {
        margin-bottom: 35px;
    }
    .contact-info .list>li h6 {
        margin-bottom: 5px;
        font-size: 12px;
    }
    .location-info h4+p {
        margin-bottom: 0;
    }
    .contact-info .list>li .social {
        margin-top: 10px;
    }
    .brands {
        padding: 50px 0;
    }
    .brands .list li {
        padding: 40px 0;
    }
    .brands .list li .bg {
        background-size: calc(220% + 2px);
        width: calc(100% - 10px);
        border-radius: 20px 0 0 20px;
    }
    .brands .list li.left .bg {
        border-radius: 0 15px 15px 0;
    }
    .opportunities .img-box {
        height: 160px;
        margin-bottom: 20px;
    }
    .button {
        padding: 6px 20px;
    }
    .join-the-ev {
        margin-bottom: 50px;
    }
    .about-us .team-img {
        height: 150px;
    }
    #news-events li .media .media-body p {
        font-size: 14px;
    }
    .contact-form nav {
        margin-bottom: 40px;
    }
    .contact-form nav .nav-tabs .nav-link {
        flex: 1;
        line-height: 1.3;
        padding: 10px 30px
    }
}

@media screen and (max-width: 389px) {
    .banner-content h2 .char {
        font-size: 25px;
    }
    .why-us .list li .icon {
        width: 35px;
        height: 35px;
    }
    .why-us .list li .title {
        font-size: 14px;
    }
    .footer h2.title {
        font-size: 20px;
    }
    .footer .desc {
        font-size: 14px;
    }
    .brands .list li .bg {
        background-size: calc(220% + 2px);
    }
    .blog-list {
        grid-row-gap: 30px;
    }
    .goal-list li .title {
        font-size: 10px;
    }
}